<html>
  <div>
  <p>
    Iam an devops and cloud computing enthusiast with solid experience in the fundamentals of ci/cd and Linux ,Networking,Operating System.
    I have Knowledge in shell scritping Bash scripts for backups,server setup,Automation.I also python programming knowledge over 1 year file scripts ,Oops
    Concepts like Classes,Polymorphism,Inheritance.Contanerization of wide range of web applications built with python,Mern,Java,Go and orchestration tools
    like Kubernetes.
    Ci/cd pipeline with Jenkins
    Implemented A ci/cd pipeline with gitlab and integration with different technologies and rapid deployments
    Autoomation of setups,deployments with my certain knowledge
  </p>
  </div>
</html>
